<nav
  class="flex flex-row sm:flex-wrap p-4 w-screen bg-stone-800 sm:gap-1 gap-x-8 font-latoBold cursor-s-resize items-center">
  <a class="nav-menu-item <%= path === '/' ? 'active' : ''%>" href="/shop">Shop</a>
  <a class="nav-menu-item <%= path === 'shop/products' ? 'active' : ''%>" href="/products">Products</a>
  <a class="nav-menu-item <%= path === 'shop/cart' ? 'active' : ''%>" href="/cart">Cart</a>
  <a class="nav-menu-item <%= path === 'shop/orders' ? 'active' : ''%>" href="/orders">Orders</a>
  <a class="nav-menu-item <%= path === 'admin/add-product' ? 'active' : ''%>" href="/admin/add-product">Add Product</a>
  <a class="nav-menu-item <%= path === 'admin/products' ? 'active' : ''%>" href="/admin/products">Admin Products</a>
</nav>
