<%- include('../includes/head.ejs') %>
  </head>
  <body class="bodyBackground">
    <%- include('../includes/navigation.ejs') %>

      <main>
        <div class="form-single-column-flex">
          <% if(prods.length> 0) {%>
            <div class="form-single-column-flex-row">
              <% for(let product of prods) { %>
                <div class="py-4">
                  <div
                    class="flex flex-col bg-white border rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="form-card-image" src="<%= product.imageUrl %>" alt="" />
                    <div class="flex flex-col p-4">
                      <h5 class="form-label decoration-4">
                        <%= product.title %>
                      </h5>
                      <h5 class="form-label decoration-1">
                        <%= `$${product.price}` %>
                      </h5>
                      <p class="form-label line-clamp-3">
                        <%= product.description %>
                      </p>
                    </div>
                    <div class="form-group-container-items">
                      <!-- Only needed to add the dict for product when we are sending some object in a loop to include code -->
                      <%- include('../includes/addToCart.ejs', {prods: product})%>
                        <a class="form-action-btn-secondary" href="/products/<%= product.id %>">Details</a>
                    </div>
                  </div>
                </div>
                <% } } else { %>

                  <h1 class=" form-label">No Products</h1>
                  <% } %>
            </div>
        </div>
      </main>
      <%- include('../includes/end.ejs') %>
